<header id="header">
  <a class="home-link" routerLink="/news/1">
    <img class="logo" src="http://i.imgur.com/J303pQ4.png">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerLink="/news/1" class="app-title">HN Clone</a>
      </h1>
      <span class="header-nav">
        <a routerLink="/newest/1">new</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/show/1">show</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/ask/1">ask</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/jobs/1">jobs</a>
      </span>
    </div>
  </div>
</header>
