$mobile-only: "only screen and (max-width : 768px)";

.header {
  display: flex;
  background-color: #b92b27;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.header-link_logo {
  max-width: 50px;
  padding: 3px 8px 0;

  @media #{$mobile-only} {
    width: 45px;
    padding: 0 0 0 10px;
  }
}

.header-text {
  h1 {
    font-weight: bold;
    display: inline-block;
    vertical-align:middle;
    margin: 0;
    font-size: 16px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

