<div *ngIf="story">
  <div class="item-laptop">
      <p>
        <a class="title" href="{{story?.url}}">
          {{story.title}}
        </a>
      </p>
      <div class="subtext-laptop">
        {{story.score}} points by
        <a href="">{{story.by}}</a>
        <!-- <span>
          <span *ngIf="story.descendants !== 0">
            {{story.descendants}}
            <span *ngIf="story.descendants === 1">comment</span>
            <span *ngIf="story.descendants > 1">comments</span>
          </span>
          <span *ngIf="story.descendants === 0">discuss</span>
        </span> -->
      </div>
      <!-- comments -->
      <app-comment-list *ngIf="story.kids !== undefined"
                        [ids]="story.kids"
                        isRoot="true">
      </app-comment-list>
  </div>
</div>
