@import url(https://fonts.googleapis.com/css?family=Open%20Sans);

$mobile-only: "only screen and (max-width : 768px)";

body {
  margin-bottom: 0;

  @media #{$mobile-only} {
    margin: 0;
  }
}

.header-container {
    width: 100%;
    background-color: #b92b27;
    transition: 0.5s ease-in-out;
}

.wrapper {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  font-size: 15px;
  height: 100%;

   @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}

